* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Oswald', sans-serif;
  background: #121212;
}

.main {
  max-width: 130rem;
  width: 90%;
  margin: 12rem auto;
}

.heading {
  text-align: center;
  color: #eee;
}

.heading h1 {
  font-size: 9rem;
}

.heading h1 a {
  text-decoration: none;
  color: #eee;
}

.heading h4 {
  margin-top: 2rem;
  line-height: .8;
  font-size: 6rem;
}

.search-container {
  width: 100%;
  max-width: 80rem;
  margin: 6rem auto;
}

.search-container input {
  width: 100%;
  padding: 1.2rem 2rem;
  border-radius: 10rem;
  background-color: #eee;
  font-size: 2.2rem;
}

.search-container input:focus {
  outline: 2px solid #fff;
}

/* SURAH */
.surah-list {
  /* margin-top: 6rem; */
  display: grid;
  margin-top: 6rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.surah, .ayah-item {
  padding: 2rem;
  box-shadow: 0 0 .1rem rgba(0, 0, 0, 0.15);
  font-size: 2rem;
  color: #fff;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  font-weight: 400;
}

.surah{
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  border-radius: 1rem;
  gap: 4rem;
  align-items: center;
  border: 2px solid #1E1E1E;
  background-color: #1E1E1E;
}

.surah:hover {
  border: 2px solid #3b3b3b;
}

.surah :is(.left, .right) {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.surah .left {
  margin-right: auto;
}

.surah .number-box {
  font-size: 1.5rem;
  font-weight: 700;
  width: 4.5rem;
  height: 4.5rem;
  background: #363636;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  transform: rotate(45deg);
  border-radius: 5px;
}

.surah .number-box .number {
  transform: rotate(-45deg);
}

.surah :is(.left, .right) small {
  font-size: 1.3rem;
  font-weight: 400;
  color: #777;
}

.surah .right {
  text-align: right;
}

/* AYAH */
.ayah-list {
  margin-top: 6rem;
  display: grid;
  gap: 2rem;
  background: #1E1E1E;
  border-radius: 1rem;
  padding: 4rem 2rem;
  /* direction: rtl; */
}

.ayah-item {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  align-items: center;
}

.ayah-number {
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  border: 2px solid #444;
  color: #999;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.ayah-item:not(:last-child) {
  border-bottom: 1px solid rgba(66, 66, 66, 0.6);
}

.controls {
  display: flex;
  flex-direction: column;
  width: 12rem;
  /* background-color: rgba(50, 50, 50, 0.5); */
  padding: 1.4rem;
  gap: 1rem;
  border-radius: 1rem;
  font-size: 1.6rem;
}

.controls img {
  width: 2.4rem;
  cursor: pointer;
}

.ayah-item .ayah-text {
  width: 100%;
  padding: 0 3rem;
}

.ayah-item .arabic {
  direction: rtl;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.ayah-item .translation {
  max-width: 70ch;
  width: 100%;
  margin-bottom: 1rem;
}

.bismillah {
  text-align: center;
  margin-top: 5rem;
}

.about-container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
  color: #eee;
}

.about-heading {
  font-size: 3rem; 
}

.about-p {
  font-size: 1.6rem;
}

audio, source {
  display: none;
}

footer {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 6rem;
  font-size: 1.4rem;
  color: #777;
  margin-bottom: 6rem;
}

@media only screen and (max-width: 992px) {
  .surah {
    gap: 2rem;
  }
  
}

@media only screen and (max-width: 768px) {
  .heading h1 {
    font-size: 5rem;
  }

  .heading h4 {
    font-size: 3.4rem;
  }

  .controls {
    width: 2rem;
  }

  .ayah-list {
    padding: 1rem;
  }

  .ayah-item {
    font-size: 2rem;
  }

  .surah-list {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 580px) {
  .ayah-item {
    flex-direction: column;
    align-items: baseline;
    padding: 0;
  }

  .controls {
    flex-direction: row;
  }
}